{% extends 'base.html.twig' %}


{% block content %}

{% endblock %}


{% block body %}
<!--=================================
Manage Jobs -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box mb-0">
                    <div class="row mb-4">
                        <div class="col-md-7 col-sm-5 d-flex align-items-center">
                            <div class="section-title-02 mb-0 ">
                                <h4 class="mb-0">Manage Jobs</h4>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                            <div class="search">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search....">
                            </div>
                        </div>
                    </div>
                    <div class="user-dashboard-table table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-light">
                            <tr >
                                <th scope="col">Job Title</th>
                                <th scope="col">Applications</th>
                                <th scope="col">Featured</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Job 01
                                    <p class="mb-1 mt-2">Expiry: 2020-04-15</p>
                                    <p class="mb-0">Address: Wellesley Rd, London</p>
                                </th>
                                <td>Applications</td>
                                <td><i class="far fa-star"></i></td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li><a href="#" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="#" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                        <li><a href="#" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Job 02
                                    <p class="mb-1 mt-2">Expiry: 2020-10-20</p>
                                    <p class="mb-0">Address: Ormskirk Rd, Wigan</p>
                                </th>
                                <td>Applications</td>
                                <td><i class="far fa-star"></i></td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li><a href="#" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="#" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                        <li><a href="#" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Job 03
                                    <p class="mb-1 mt-2">Expiry: 2020-11-30</p>
                                    <p class="mb-0">Address: New Castle, PA</p>
                                </th>
                                <td>Applications</td>
                                <td><i class="far fa-star"></i></td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li><a href="#" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="#" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                        <li><a href="#" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Job 04
                                    <p class="mb-1 mt-2">Expiry: 2020-12-14</p>
                                    <p class="mb-0">Address: Ormskirk Rd, Wigan</p>
                                </th>
                                <td>Applications</td>
                                <td><i class="far fa-star"></i></td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li><a href="#" class="text-primary" data-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                                        <li><a href="#" class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                                        <li><a href="#" class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <ul class="pagination mt-3">
                                <li class="page-item disabled mr-auto">
                                    <span class="page-link b-radius-none">Prev</span>
                                </li>
                                <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item ml-auto">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Manage Jobs -->
{% endblock %}

{% block js %}
    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/select2/select2.full.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
    <script src="js/datetimepicker/moment.min.js"></script>
    <script src="js/datetimepicker/datetimepicker.min.js"></script>




{% endblock %}