{% extends 'base.html.twig' %}

{% block body %}

<!--=================================
banner -->

<section class="banner bg-holder bg-overlay-black-30" style="background-image: url(images/event.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="job-search-field job-search-field-02 search-under-banner">
                    <div class="job-search-item">
                        <form class="form-row basic-select-wrapper">
                            <div class="form-group col-lg col-md-6">
                                <div class="form-group-search">
                                    <label>Event Title</label>
                                    <div class="d-flex align-items-center"><input class="form-control" type="search" placeholder="Title"></div>
                                </div>
                            </div>
                            <div class="form-group col-lg col-md-6">
                                <div class="form-group-search">
                                    <label>Location</label>
                                    <div class="d-flex align-items-center"><input class="form-control" type="search" placeholder="town or country"></div>
                                </div>
                            </div>

                            <div class="form-group col-lg-2 col-md-4">
                                <div class="mt-0">
                                    <button class="btn btn-primary align-items-center" type="submit"><i class="fas fa-search mr-1"></i>Find Events</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
banner -->

{% endblock %}