{% extends 'basebackadmin.html.twig' %}


{% block body %}
    <h1>Edit Surfer</h1>

    {{ include('surfer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('surferindex') }}">back to list</a>

    {{ include('surfer/_delete_form.html.twig') }}
{% endblock %}


