{% extends 'base.html.twig' %}
{% block body %}


    <div>
        <h1 align="center">formations list </h1>
            <table border="4" align="center">
                <tr>
                    <td>TITLE</td>
                    <td>DESCRIPTION</td>
                    <td>DATE</td>
                    <td>LOCALISATION</td>
                </tr>
                {% for I in formations %}
                    <tr>
                        <td> {{ I.title }}</td>
                        <td> {{ I.description }}</td>
                        <td> {{ I.dateAt|date('Y-m-d H:i:s') }}</td>
                        <td> {{ I.localisation }}</td>


                    </tr>
                {% endfor %}
            </table>


    </div>
{% endblock %}
