{% extends 'base.html.twig' %}


{% block content %}

{% endblock %}


{% block body %}
    <section class="header-inner header-inner-big bg-holder text-white" style="background-image: url(images/bg-slider/03.jpg);">




        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h2 class="text-primary">FORMATION</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Formation</span></li>
                    </ol>

                </div>
            </div>
        </div>

    <section class="feature-info-section" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
                        <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
                            <i class="flaticon-team"></i>
                        </div>
                        <div class="feature-info-content text-white pl-sm-4 pl-0">
                            <p>Jobseeker</p>
                            <h5 class="text-white">Looking For formation?</h5>
                        </div>
                        <a class="ml-auto align-self-center" href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </section>
    Category-style -->
    <section class="space-ptb">
        <div class="container">
            <div class="section-title center">
                <h2 class="title">Choose Your Sector</h2>
                <p class="mb-0">What made each of these people so successful? Motivation.</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="category-style text-center">
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-account"></i>
                            </div>
                            <h6>Accountancy</h6>
                            <span class="mb-0">301 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-conversation"></i>
                            </div>
                            <h6>Apprenticeships</h6>
                            <span class="mb-0">287 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-money"></i>
                            </div>
                            <h6>Banking</h6>
                            <span class="mb-0">542 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-mortarboard"></i>
                            </div>
                            <h6>Education</h6>
                            <span class="mb-0">785 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-worker"></i>
                            </div>
                            <h6>Engineering</h6>
                            <span class="mb-0">862 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-businessman"></i>
                            </div>
                            <h6>Estate Agency</h6>
                            <span class="mb-0">423 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-coding"></i>
                            </div>
                            <h6>IT & Telecoms</h6>
                            <span class="mb-0">253 Open Position </span>
                        </a>
                        <a href="#" class="category-item">
                            <div class="category-icon mb-4">
                                <i class="flaticon-balance"></i>
                            </div>
                            <h6>Legal</h6>
                            <span class="mb-0">689 Open Position </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Category-style -->

    <!--=================================
    Why You Choose -->
    <section class="bg-light">
        <div class="container-fluid p-0">
            <div class="row align-self-center m-0">
                <div class="col-md-6 bg-holder" style="background-image: url(images/bg/cover-bg-2.jpg); background-size: cover;">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="feature-content">
                        <div class="row">
                            <div class="col-xl-10 col-lg-12">
                                <div class="section-title-02">
                                    <h2>Why You Choose Job Among Other Job Site?</h2>
                                    <p>We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
                                </div>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row category-style pb-2">
                                        <div class="col-md-6 col-sm-12 mb-3">
                                            <div class="category-icon mb-3">
                                                <i class="flaticon-team"></i>
                                            </div>
                                            <h6 class="mb-2">Best talented people</h6>
                                            <p>If success is a process with a number of defined steps.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 mb-3">
                                            <div class="category-icon mb-3">
                                                <i class="flaticon-chat"></i>
                                            </div>
                                            <h6 class="mb-2">Easy to communicate</h6>
                                            <p>Having clarity of purpose and a clear picture of what you desire.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 mb-3">
                                            <div class="category-icon mb-3">
                                                <i class="flaticon-job-3"></i>
                                            </div>
                                            <h6 class="mb-2">Easy to find candidate</h6>
                                            <p>Introspection is the trick. Understand what you want.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 mb-3">
                                            <div class="category-icon mb-3">
                                                <i class="flaticon-job-2"></i>
                                            </div>
                                            <h6 class="mb-2">Global recruitment option</h6>
                                            <p>There are basically six key areas to higher achievement.</p>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary" href="#">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Why You Choose -->

    <!--=================================
    Top Companies -->
    <section class="space-ptb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title center">
                        <h2 class="title">Top Companies</h2>
                        <p>Data trends and insights, tips for employers, product updates and best practices</p>
                    </div>
                    <div class="owl-carousel owl-nav-bottom-center" data-nav-arrow="false" data-nav-dots="true" data-items="4" data-md-items="3" data-sm-items="2" data-xs-items="1" data-xx-items="1" data-space="15" data-autoheight="true">
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/07.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Trout Design Ltd</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Wellesley Rd, London</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="employers-list-position">
                                    <a class="btn btn-sm btn-dark" href="#">30 Open position</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-md-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/08.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Lawn Hopper</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Needham, MA</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="employers-list-position">
                                    <a class="btn btn-sm btn-dark" href="#">35 Open position</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/09.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Trout Design Ltd</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Wellesley Rd, London</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="employers-list-position">
                                    <a class="btn btn-sm btn-dark" href="#">30 Open position</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-md-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/10.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Lawn Hopper</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Needham, MA</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="employers-list-position">
                                    <a class="btn btn-sm btn-dark" href="#">35 Open position</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/11.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Rippin LLC</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Park Avenue, Mumbai</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="employers-list-position">
                                        <a class="btn btn-sm btn-dark" href="#">20 Open position</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/12.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Trophy and Sons</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="employers-list-position">
                                        <a class="btn btn-sm btn-dark" href="#">25 Open position</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-md-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/13.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Lawn Hopper</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Needham, MA</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="employers-list-position">
                                    <a class="btn btn-sm btn-dark" href="#">35 Open position</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/14.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Rippin LLC</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Park Avenue, Mumbai</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="employers-list-position">
                                        <a class="btn btn-sm btn-dark" href="#">20 Open position</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="employers-grid mb-4 mb-lg-0">
                                <div class="employers-list-logo">
                                    <img class="img-fluid" src="images/svg/15.svg" alt="">
                                </div>
                                <div class="employers-list-details">
                                    <div class="employers-list-info">
                                        <div class="employers-list-title">
                                            <h5 class="mb-0"><a href="employer-detail.html">Trophy and Sons</a></h5>
                                        </div>
                                        <div class="employers-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="employers-list-position">
                                        <a class="btn btn-sm btn-dark" href="#">25 Open position</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Top Companies -->

{% endblock %}

{% block js %}
    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/select2/select2.full.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
    <script src="js/datetimepicker/moment.min.js"></script>
    <script src="js/datetimepicker/datetimepicker.min.js"></script>




{% endblock %}