{% extends 'base.html.twig' %}
{% block body %}
<form class="form-row">
    <div class="form-group col-md-12">
        <label>Job Title </label>
        <input type="text" class="form-control" value="" placeholder="Enter a Title">
    </div>
    <div class="form-group col-md-12">
        <label>Job Title </label>
        <input type="text" class="form-control" value="" placeholder="Enter a Title">
    </div>
    <div class="form-group col-md-12">
        <label>Job Title </label>
        <input type="text" class="form-control" value="" placeholder="Enter a Title">
    </div>
</form>
{% endblock %}