{% extends 'basebackadmin.html.twig' %}
{% block body %}

    <!--=================================
inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-primary">Participants</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="evenementsociete">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Participants</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->
    <hr>
    <!--=================================
    candidate post-box list -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget">
                            <div class="search">
                                <i class="fas fa-search"></i>
                                <input class="form-control" type="text" placeholder="Search Keywords">
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        {% for f in participation %}
                        <div class="col-md-6 mb-3">
                            <div class="candidate-list candidate-grid">
                                <div class="candidate-list-image">
                                    <img class="img-fluid" src="images/avatar/01.jpg" alt="" >
                                </div>
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5><a href="candidate-detail.html">{{f.id}}</a></h5>
                                        </div>
                                        <div class="candidate-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-filter pr-1"></i>gg</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="candidate-list-favourite-time">
                                    <a class="candidate-list-favourite order-2" href="{{ path('deleteparticipant',{'id':f.IdParticipant})}}"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    candidate post-box list -->
{% endblock %}