{% extends 'base.html.twig' %}
{% block body %}
<h1>Adding a new product</h1>

{{ form_start(form) }}


    {{ form_row(form.filename,{ 'attr':{ 'class':"upload-file"}}) }}

    <div align="center"><button type="submit" class="btn btn-primary btn-md">save</button></div>

{{ form_end(form) }}
{% endblock %}