{% extends 'basebackadmin.html.twig' %}
{% block content %}
{% endblock %}

{% block body %}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="Job-detail" role="tabpanel" aria-labelledby="Job-detail-tab">
            <section class="space-ptb">
                <div class="container">
                    {{ form_start(form) }}
                    {{ form_row(form.type,{ 'attr':{ 'placeholder':"Event Title",'class':"form-control"}}) }}

                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/select2/select2.full.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
    <script src="js/datetimepicker/moment.min.js"></script>
    <script src="js/datetimepicker/datetimepicker.min.js"></script>




{% endblock %}