{% extends 'base.html.twig' %}

{% block title %}New CvTech{% endblock %}

{% block body %}
    <h1>Create new CvTech</h1>

   {{ form_start(form) }}

            {{ form_row(form.category) }}
    {{ form_end(form) }}
{% endblock %}
