{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner bg-holder bg-overlay-black-30 text-white" style="background-image: url(images/bg/banner-01.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white mb-3">Drop <span class="text-primary"> Resume & Get </span> Your Desired Job</h1>
                    <p class="lead mb-4 mb-lg-5 font-weight-normal">Find Jobs, Employment & Career Opportunities</p>

                    <section class="feature-info-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 mb-lg-0 mb-4">
                                    <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
                                        <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
                                            <i class="flaticon-team"></i>
                                        </div>
                                        <div class="feature-info-content text-white pl-sm-4 pl-0">
                                            <p>Jobseeker</p>
                                            <h5 class="text-white">Looking For Job?</h5>
                                        </div>
                                        <a class="ml-auto align-self-center" href="new1">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="feature-info feature-info-02 p-4 p-lg-5 bg-dark">
                                        <div class="feature-info-icon mb-3 mb-sm-0 text-primary">
                                            <i class="flaticon-job-3"></i>
                                        </div>
                                        <div class="feature-info-content text-white pl-sm-4 pl-0">
                                            <p>Recruiter</p>
                                            <h5 class="text-white">Are You Recruiting?</h5>
                                        </div>
                                        <a class="ml-auto align-self-center" href="company">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="job-search-field">
                        <div class="job-search-item">
                            <form class="form row">
                                <div class="col-lg-5">

                                    </div>




                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group form-action">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="job-tag mt-4">
                        <ul class="justify-content-center">
                            <li class="text-primary">Trending Keywords :</li>
                            <li><a href="#">Automotive,</a></li>
                            <li><a href="#">Education,</a></li>
                            <li><a href="#">Health , Care Engineering,</a></li>
                            <li><a href="#">touristic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="space-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-title center">
                    <h2 class="title">Easiest Way to Use</h2>
                    <p>Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself.</p>
                </div>
            </div>
        </div>
        <div class="row bg-holder-pattern mt-3 mt-md-4 mr-md-0 ml-md-0" style="background-image: url('images/step/pattern-01.png');">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="feature-step text-center">
                    <div class="feature-info-icon">
                        <i class="flaticon-resume"></i>
                    </div>
                    <ul></ul>
                    <a class="btn btn-outline" href="company">create account</a>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="feature-step text-center">
                    <div class="feature-info-icon">
                        <i class="flaticon-recruitment"></i>
                    </div>
                    <div class="feature-info-content pb-2 pb-md-0">
                        <h5>Find Your Vacancy</h5>
                        <p class="mb-0">Don't just find. Be found. Put your CV in front of great employers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="feature-step text-center">
                    <div class="feature-info-icon">
                        <i class="flaticon-position"></i>
                    </div>
                    <div class="feature-info-content pb-2 pb-md-0">
                        <h5>Get A Job</h5>
                        <p class="mb-0">Your next career move starts here. Choose Job from thousands of companies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
