{% extends 'base.html.twig' %}

{% block title %}Test list {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1><h1>Tests list</h1>

            <table border="2">
                <tr>
                    <td>ID</td>

                    <td>MAIL</td>
                    <td>ACTIONS</td>

                </tr>
                {% for r in test %}
                    <tr>
                        <td> {{ r.id }}</td>

                        <td> {{ r.mail.emailadress|default('undefined') }}</td>
                        <td><a href="{{ path ('updatetest',{ 'id':r.id}) }}"class="text-info" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{{ path('deletetest',{'id':r.id}) }}"class="text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></td>

                    </tr>
                {% endfor %}
            </table> </h1>


    </div>
{% endblock %}
