{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<i class="dropdown-item"><h1><i class="center"></i>{{ "Test en francais "}}</h1></i>
<p>  1. Que signifie l’expression : « À toute allure » ?<br>
    A. Lentement<br>
    B. Élégamment<br>
    C. Immédiatement<br>
    D. Rapidement<br>

    2. Que signifie l’expression : « N’en faire qu’à sa tête » ?<br>
    A. Être en colère<br>
    B. Être têtu<br>
    C. Être réaliste<br>
    D. Être avare<br>

    3. Que signifie l’expression :  « Sauter aux yeux » ?<br>
    A. C’est bizarre !<br>
    B. C’est évident !<br>
    C. C’est laid !<br>
    D. C’est incroyable !<br>

    4. Que signifie l’expression :  « Avoir du nez » ?<br>
    A. Avoir de l’intuition<br>
    B. Sentir bon<br>
    C. Avoir un grand nez<br>
    D. Être curieux<br>

    5. Que signifie l’expression :  « Tenter le coup » ?<br>
    A. Abandonner<br>
    B. Boire un verre<br>
    C. Essayer<br>
    D. Aider une personne<br>

    6. Elle a … attentivement les leçons.<br>
    A. écouté<br>
    B. écoutée<br>
    C. écoutés<br>
    D. écoutées<br>

    7. Quelle est la mauvaise réponse ?<br>
    A. Elles se sont disputées.<br>
    B. Elles se sont photographié.<br>
    C. Elles se sont téléphoné.<br>
    D. Elles se sont lavé les cheveux.<br>

    8. Elles se sont … compte de leurs erreurs.<br>
    A. rendue<br>
    B. rendues<br>
    C. rendus<br>
    D. rendu<br>

    9. Les chansons que tu m’as fait … sont géniales !<br>
    A. écouter<br>
    B. écoutées<br>
    C. écouté<br>
    D. écoutés<br>

    10. Je regrette qu’il … pris cette décision.<br>
    A. es<br>
    B. est<br>
    C. ait<br>
    D. aie<br>

    11. Il n’a jamais été très …<br>
    A. social.<br>
    B. sociaux.<br>
    C. sociable.<br>
    D. socialisable.<br>

    12. Les explications de ce professeur sont …<br>
    A. compréhensibles.<br>
    B. compréhensives.<br>
    C. compréhensible.<br>
    D. compréhensif.<br>

    13. J’aimerais avoir … de temps pour étudier le français.<br>
    A. d’avantages<br>
    B. davantages<br>
    C. d’avantage<br>
    D. davantage<br>

    14. On ne … trouve nulle part.<br>
    A. l’a<br>
    B. là<br>
    C. la<br>
    D. l’as<br>

    15. Cette chanteuse a une … incroyable.<br>
    A. voie<br>
    B. vois<br>
    C. voix<br>
    D. voit<br>

    16. Elle a mis des rideaux …<br>
    A. bleu foncé.<br>
    B. bleu foncés.<br>
    C. bleus foncé.<br>
    D. bleus foncés.<br>

    17. Quel est le pluriel de “savoir-faire” ?<br>
    A. Des savoir-faire<br>
    B. Des savoirs-faire<br>
    C. Des savoirs-faires<br>
    D. Des savoir-faires<br>

    18. Ma femme et moi, on est … au restaurant.<br>
    A. allé<br>
    B. allée<br>
    C. allés<br>
    D. allées<br>

    19. Choisissez la réponse correcte : “Les cours de français ont lieu les …”.<br>
    A. jeudi soir<br>
    B. jeudis soir<br>
    C. jeudi soirs<br>
    D. jeudis soirs<br>

    20. Ils veulent … comprendre le subjonctif.<br>
    A. tout<br>
    B. touts<br>
    C. tous<br>
    D. toutes<br>

</p>
</body>
</html>