{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<h4>{{ "Test en francais "}}</h4>
<p>1. Que signifie l’expression : “Quand les poules auront des dents” ?<br>
    A.Jamais<br>
    B.Toujours<br>
    C.Souvent<br>
    D.Rarement<br>

    2. Que signifie l’expression : « Faire la fine bouche » ?<br>
    Être ridicule
    Être malin
    Faire des exercices de prononciation
    Se montrer difficile
    Voir la réponse


    3. Que signifie “Lever le pied” ?
    Ralentir
    Être maladroit
    Hésiter
    Danser
    Voir la réponse
    4. Que signifie l’expression : “Faire un tour” ?
    Dessiner un rond
    Se promener
    Faire un noeud
    Construire une tour
    Voir la réponse


    5. Que signifie l’expression : « À toute allure » ?
    Lentement
    Élégamment
    Immédiatement
    Rapidement
    Voir la réponse


    6. Que signifie l’expression : « N’en faire qu’à sa tête » ?
    Être en colère
    Être têtu
    Être réaliste
    Être avare
    Voir la réponse


    7. Que signifie l’expression :  « Sauter aux yeux » ?
    C’est bizarre !
    C’est évident !
    C’est laid !
    C’est incroyable !
    Voir la réponse


    8. Que signifie l’expression :  « Avoir du nez » ?
    Avoir de l’intuition
    Sentir bon
    Avoir un grand nez
    Être curieux
    Voir la réponse
    9. Que signifie l’expression :  « Tenter le coup » ?
    Abandonner
    Boire un verre
    Essayer
    Aider une personne
    Voir la réponse


    10. Que signifie l’expression :  « Mettre les bouchées doubles » ?
    Aller plus vite
    Manger plus vite
    Augmenter les quantités
    Diviser en deux
    Voir la réponse
    Conjugaison
    Savez-vous quand utiliser le subjonctif ?  Comment accorder un participe passé ? Comment conjuguer un verbe du premier groupe à l’impératif ? Voici dix questions pour tester votre conjugaison.

    11. Quelle forme est correcte ?
    J’apele
    J’appelle
    J’appele
    J’apelle
    Voir la réponse


    12. … de te plaindre !
    Arrête
    Arrêtes
    Arête
    Arêtes
    Voir la réponse


    13. À quel temps est la forme : “Je courrais” ?
    Imparfait
    Futur
    Conditionnel
    Subjonctif
    Voir la réponse


    14. Quelle forme est correcte ?
    J’envoierai
    J’enverrai
    J’enverai
    J’envoyerai
    Voir la réponse


    15. Elle a … attentivement les leçons.
    écouté
    écoutée
    écoutés
    écoutées
    Voir la réponse


    16. Quelle est la mauvaise réponse ?
    Elles se sont disputées.
    Elles se sont photographié.
    Elles se sont téléphoné.
    Elles se sont lavé les cheveux.
    Voir la réponse


    17. Elles se sont … compte de leurs erreurs.
    rendue
    rendues
    rendus
    rendu
    Voir la réponse


    18. Les chansons que tu m’as fait … sont géniales !
    écouter
    écoutées
    écouté
    écoutés
    Voir la réponse


    19. Je regrette qu’il … pris cette décision.
    es
    est
    ait
    aie
    Voir la réponse


    20. … ! Tu vas réussir.
    Va y
    Va-y
    Vas y
    Vas-y
    Voir la réponse
    Vocabulaire
    Consommer ou consumer ? À l’intention de ou à l’attention de ? Imminent ou éminent ? D’avantage ou davantage ? Quand vous parlez français, le vocabulaire est indispensable. Voici dix questions pour tester votre vocabulaire.

    21. J’ai laissé la bougie se …
    consumer.
    consumé.
    consommer.
    consomé.
    Voir la réponse


    22. Cette lettre est … de Mme la Présidente.
    à l’attention
    à l’intention
    à l’atention
    à l’inttention
    Voir la réponse


    23. Il a fait … dans la salle de classe.
    eruption
    éruption
    irruption
    iruption
    Voir la réponse


    24. C’est un … docteur en philosophie.
    imminent
    éminant
    éminent
    imminant
    Voir la réponse


    25. Il n’a jamais été très …
    social.
    sociaux.
    sociable.
    socialisable.
    Voir la réponse


    26. Les explications de ce professeur sont …
    compréhensibles.
    compréhensives.
    compréhensible.
    compréhensif.
    Voir la réponse


    27. J’aimerais avoir … de temps pour étudier le français.
    d’avantages
    davantages
    d’avantage
    davantage
    Voir la réponse


    28. On ne … trouve nulle part.
    l’a
    là
    la
    l’as
    Voir la réponse


    29. Cette chanteuse a une … incroyable.
    voie
    vois
    voix
    voit
    Voir la réponse
    30. Je vous … ce paquet de la part de Sophie.
    emmène
    apporte
    amène
    emporte
    Voir la réponse
    Orthographe
    Comment écrire “demi” ? Faut-il mettre un “s” à un adjectif de couleur ? Quand mettre une majuscule à “allemand” ? Quel est le pluriel d’un nom-composé ? Voici dix questions pour tester votre orthographe.

    31. J’ai bu deux verres et …
    demie.
    demi.
    demis.
    demies.
    Voir la réponse


    32. … sont les horaires de la ligne 1 ?
    Quelles
    Quels
    Qu’elles
    Quelle
    Voir la réponse


    33. J’ai arrêté d’apprendre l’…, c’était trop difficile.
    Alemand
    allemand
    Allemand
    alemands
    Voir la réponse


    34. Quel nombre est mal écrit ?
    Sept cents millions
    Six mille un
    Quatre-vingts-sept
    Huit cent vingt
    Voir la réponse


    35. Elle a mis des rideaux …
    bleu foncé.
    bleu foncés.
    bleus foncé.
    bleus foncés.
    Voir la réponse


    36. Quel est le pluriel de “savoir-faire” ?
    Des savoir-faire
    Des savoirs-faire
    Des savoirs-faires
    Des savoir-faires
    Voir la réponse


    37. Ma femme et moi, on est … au restaurant.
    allé
    allée
    allés
    allées
    Voir la réponse


    38. Choisissez la réponse correcte : “Les cours de français ont lieu les …”.
    A.jeudi soir
    B.jeudis soir
    C.jeudi soirs
    D.jeudis soirs


    39. Ils veulent … comprendre le subjonctif.
    A.tout
    B.touts
    C.tous
    D.toutes



    40. Ces billets d’avion coûtent …
    A.cher.
    B.chers.
    C.chère.
    D.chères.</p>
</body>
</html>