{% extends 'base.html.twig' %}
{% block body %}
<!Doctype html>
<html>
        <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome {% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        </head>
    <body>


            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
            {% block javascripts %}{% endblock %}
    </body>
</html>
{% endblock %}
{% block calender %}

{% endblock %}
