{% extends 'base.html.twig' %}



{% block body %}
    <!--=================================
    inner banner -->
    <div class="header-inner bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>7 Things are Making your Resume look Dated</h2>
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Blog-Detail</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
    inner banner -->

    <!--=================================
blog-detail -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-detail">
                        <div class="blog-post">
                            <div class="blog-post-title">
                                <h4>7 Things are Making your Resume look Dated</h4>
                            </div>
                            <div class="blog-post-category">
                                <a class="mb-0" href="#">Recruitment</a>
                            </div>
                            <div class="blog-post-footer border-0 justify-content-start">
                                <div class="blog-post-time">
                                    <a href="#"> <i class="far fa-clock"></i>25 March 2020</a>
                                </div>
                                <div class="blog-post-author">
                                    <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Felica queen</a> </span>
                                </div>
                                <div class="blog-post-comment">
                                    <a href="#"> <i class="far fa-comment"></i>(15) </a>
                                </div>
                            </div>
                            {% for e in offre %}
                            <div class="blog-post-image">
                                <img class="img-fluid" src="images/blog/01.jpg" alt="">
                            </div>
                            <div class="blog-post-content mt-4">
                                <div class="blog-post-description">
                                    <p class="mb-0">{{ e.localisation }}</p>
                                </div>
                                <i class="text-primary d-block lead my-3">There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that.</i>
                                <p>If success is a process with a number of defined steps, then it is just like any other process. So, what is the first step in any process?</p>
                                {%  endfor %}}
                                <div class="row">
                                    <div class="col-lg-7">
                                        <img class="img-fluid mb-3" src="images/blog/02.jpg" alt="">
                                    </div>
                                    <div class="col-lg-5 mb-3">
                                        <img class="img-fluid" src="images/blog/09.jpg" alt="">
                                    </div>
                                </div>
                                <p>Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook.</p>
                                <blockquote class="blockquote">
                                    <p>Without clarity, you send a very garbled message out to the Universe. We know that the Law of Attraction says that we will attract what we focus on, so if we don’t have clarity, we will attract confusion.</p>
                                    <cite>– Alice Williams</cite>
                                </blockquote>
                                <p>The sad thing is the majority of people have no clue about what they truly want. They have no clarity. When asked the question, responses will be superficial at best, and at worst.</p>
                                <div class="blog-post-tags mb-4 align-items-center d-flex">
                                    <span>Popular-Tags:</span>
                                    <ul class="list-inline mb-0 mt-2 mt-sm-0 ml-sm-3">
                                        <li class="list-inline-item"><a href="#">Career</a></li>
                                        <li class="list-inline-item"><a href="#">Advice</a></li>
                                        <li class="list-inline-item"><a href="#">Recruitment</a></li>
                                    </ul>
                                </div>
                                <nav class="navigation post-navigation">
                                    <div class="nav-links">
                                        <div class="nav-previous">
                                            <a href="#"><span class="pagi-text"> PREV</span><span class="nav-title"> Lawn court villa</span></a>
                                        </div>
                                        <div class="nav-next">
                                            <a href="#"><span class="nav-title"> Executive 4 bed WDM ranch</span> <span class="pagi-text">NEXT</span></a> </div>
                                    </div>
                                </nav>
                                <div class="mt-4">
                                    <h5 class="mb-3">About Author</h5>
                                    <div class="border p-4">
                                        <div class="d-sm-flex">
                                            <div class="avatar avatar-xlll mb-3 mb-sm-0">
                                                <img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
                                            </div>
                                            <div class="pl-sm-4">
                                                <h6 class="mb-3"> <span class="text-primary"> Posted by:</span> Alice Williams</h6>
                                                <p>SMART is an acronym for Specific, Measurable, Achievable, Realistic and Time Sensitive – S-M-A-R-T. Knowing what you want and setting SMART goals as mileposts on your quest cannot help but give you clarity!</p>
                                                <div class="social-icon d-flex">
                                                    <span>Follow us:</span>
                                                    <ul class="list-unstyled mb-0 ml-3 list-inline">
                                                        <li class="list-inline-item"> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                                                        <li class="list-inline-item"> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                                        <li class="list-inline-item"> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                                        <li class="list-inline-item"> <a href="#"> <i class="fab fa-linkedin"></i> </a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h5 class="mb-3">Related Post</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="owl-carousel " data-nav-dots="true" data-items="2" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="15">
                                                <div class="item">
                                                    <div class="blog-post text-center">
                                                        <div class="blog-post-image">
                                                            <img class="img-fluid" src="images/blog/01.jpg" alt="">
                                                        </div>
                                                        <div class="blog-post-content">
                                                            <div class="blog-post-details">
                                                                <div class="blog-post-category">
                                                                    <a class="mb-1" href="#">Recruitment</a>
                                                                </div>
                                                                <div class="blog-post-title">
                                                                    <h5><a href="blog-detail.html">Hype or Helpful to the Jobs Market?</a></h5>
                                                                </div>
                                                                <div class="blog-post-description mb-0">
                                                                    <p class="mb-0">So, how can we stay on course with all the distractions in our lives? Willpower.</p>
                                                                </div>
                                                            </div>
                                                            <div class="blog-post-footer">
                                                                <div class="blog-post-time">
                                                                    <a href="#"> <i class="far fa-clock"></i>02 Jan 2020</a>
                                                                </div>
                                                                <div class="blog-post-author">
                                                                    <span> By <a href="#"> <img class="img-fluid" src="images/avatar/01.jpg" alt="">Sara lisbon </a> </span>
                                                                </div>
                                                                <div class="blog-post-comment">
                                                                    <a href="#"> <i class="far fa-comment"></i>(12) </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="blog-post text-center">
                                                        <div class="blog-post-image">
                                                            <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                                        </div>
                                                        <div class="blog-post-content">
                                                            <div class="blog-post-details">
                                                                <div class="blog-post-category">
                                                                    <a class="mb-1" href="#">Advice</a>
                                                                </div>
                                                                <div class="blog-post-title">
                                                                    <h5><a href="blog-detail.html">How to sell yourself in a job interview</a></h5>
                                                                </div>
                                                                <div class="blog-post-description mb-0">
                                                                    <p class="mb-0">Is a good start, but it’s very difficult to stay on track simply through willpower.</p>
                                                                </div>
                                                            </div>
                                                            <div class="blog-post-footer">
                                                                <div class="blog-post-time">
                                                                    <a href="#"> <i class="far fa-clock"></i>14 Feb 2020</a>
                                                                </div>
                                                                <div class="blog-post-author">
                                                                    <span> By <a href="#"> <img class="img-fluid" src="images/avatar/02.jpg" alt="">Anne Smith</a> </span>
                                                                </div>
                                                                <div class="blog-post-comment">
                                                                    <a href="#"> <i class="far fa-comment"></i>(32) </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="blog-post text-center">
                                                        <div class="blog-post-image">
                                                            <img class="img-fluid" src="images/blog/03.jpg" alt="">
                                                        </div>
                                                        <div class="blog-post-content">
                                                            <div class="blog-post-details">
                                                                <div class="blog-post-category">
                                                                    <a class="mb-1" href="#">Career</a>
                                                                </div>
                                                                <div class="blog-post-title">
                                                                    <h5><a href="blog-detail.html">How to become an Account Manager</a></h5>
                                                                </div>
                                                                <div class="blog-post-description mb-0">
                                                                    <p class="mb-0">The best way is to develop and follow a plan. Start with your goals in mind.</p>
                                                                </div>
                                                            </div>
                                                            <div class="blog-post-footer">
                                                                <div class="blog-post-time">
                                                                    <a href="#"> <i class="far fa-clock"></i>30 March 2020</a>
                                                                </div>
                                                                <div class="blog-post-author">
                                                                    <span> By <a href="#"> <img class="img-fluid" src="images/avatar/03.jpg" alt="">Alice Williams</a> </span>
                                                                </div>
                                                                <div class="blog-post-comment">
                                                                    <a href="#"> <i class="far fa-comment"></i>(45) </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <div class="media mb-3">
                                        <div class="avatar avatar-lg">
                                            <img src="images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                        <div class="media-body ml-3 border p-4">
                                            <div class="d-flex">
                                                <h6 class="mt-0">Carolyn & Dan</h6>
                                                <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                            </div>
                                            <p class="mb-0">Then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to visualize and then plan.</p>
                                        </div>
                                    </div>
                                    <div class="media mb-3 ml-5">
                                        <div class="avatar avatar-lg">
                                            <img src="images/avatar/02.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                        <div class="media-body ml-3 border p-4">
                                            <div class="d-flex">
                                                <h6 class="mt-0">John Doe</h6>
                                                <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                            </div>
                                            <p class="mb-0">Every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer.</p>
                                        </div>
                                    </div>
                                    <div class="media mb-3 ml-5">
                                        <div class="avatar avatar-lg">
                                            <img src="images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                        <div class="media-body ml-3 border p-4">
                                            <div class="d-flex">
                                                <h6 class="mt-0">Carolyn & Dan</h6>
                                                <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                            </div>
                                            <p class="mb-0">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times. This requires a little self-discipline.</p>
                                        </div>
                                    </div>
                                    <div class="media mb-3">
                                        <div class="avatar avatar-lg">
                                            <img src="images/avatar/04.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                        <div class="media-body ml-3 border p-4">
                                            <div class="d-flex">
                                                <h6 class="mt-0">Melissa Doe</h6>
                                                <a class="ml-auto" href="#"><i class="fas fa-reply pr-2"></i>Reply</a>
                                            </div>
                                            <p class="mb-0">But is a crucial component to achievement of any kind. Before starting any new activity, ask yourself if that activity will move you closer to your goals. If the answer is no.</p>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="mb-4">Leave a Reply</h5>
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email">
                                                </div>
                                                <div class="form-group col-12">
                                                    <input type="text" class="form-control" id="Website" placeholder="Website">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
                                                </div>
                                                <div class=" form-group col-md-12">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label pr-5" for="customCheck1">I consent to having this website store my submitted information so they can respond to my inquiry.</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary" href="#">Send Message</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="blog-sidebar">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Search Job</h5>
                            </div>
                            <div class="search">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h5>About The Blog</h5>
                            </div>
                            <p>Trying to go through life without clarity is similar to sailing a rudder-less ship – no good thing can or will happen!</p>
                            <ol class="pl-3">
                                <li class="mb-2">Success is something of which we all want.</li>
                                <li class="mb-2">Most people believe that success is difficult.</li>
                                <li class="mb-2">They’re wrong – it’s not!</li>
                            </ol>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Recent Posts</h5>
                            </div>
                            <div class="d-flex mb-3 align-items-start">
                                <div class="avatar avatar-xl">
                                    <img class="img-fluid" src="images/blog/06.jpg" alt="">
                                </div>
                                <div class="ml-3 recent-posts">
                                    <a href="#"><b>Expanding Access to Tech Talent</b></a>
                                    <a class="d-block font-sm mt-1 text-light" href="#">25 Feb 2020</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3 align-items-start">
                                <div class="avatar avatar-xl">
                                    <img class="img-fluid" src="images/blog/07.jpg" alt="">
                                </div>
                                <div class="ml-3 recent-posts">
                                    <a href="#"><b>How to become an Account Manager</b></a>
                                    <a class="d-block font-sm mt-1 text-light" href="#">20 March 2020</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3 align-items-start">
                                <div class="avatar avatar-xl">
                                    <img class="img-fluid" src="images/blog/08.jpg" alt="">
                                </div>
                                <div class="ml-3 recent-posts">
                                    <a href="#"><b>Job interview tips for older workers</b></a>
                                    <a class="d-block font-sm mt-1 text-light" href="#">15 Jan 2020</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Categories</h5>
                            </div>
                            <ul class="list-unstyled list-style mb-0">
                                <li><a href="#">Accountancy<span class="ml-auto">(3)</span></a></li>
                                <li><a href="#">General Insurance<span class="ml-auto">(15)</span></a></li>
                                <li><a href="#">Motoring & Automotive<span class="ml-auto">(10)</span></a></li>
                                <li><a href="#">Social Care<span class="ml-auto">(6)</span></a></li>
                                <li><a href="#">Purchasing<span class="ml-auto">(5)</span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="newsletter p-4 bg-dark">
                                <p class="text-white mb-0">Subscribe for Michael Bean News and receive daily updates</p>
                                <div class="search my-3">
                                    <i class="fa fa-paper-plane"></i>
                                    <input type="email" class="form-control" placeholder="Your email address">
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="dateposted1">
                                    <label class="custom-control-label" for="dateposted1"><em class="text-white">I agree to storage of my email according to Privacy Policy</em></label>
                                </div>
                                <div class="newsletter-bg-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Subscribe & Follow</h5>
                            </div>
                            <div class="social">
                                <ul class="list-unstyled">
                                    <li class="facebook">
                                        <a class="text-uppercase" href="#"> <i class="fab fa-facebook-f mr-3"></i>Facebook</a>
                                        <a class="follow ml-auto" href="#">Like </a>
                                    </li>
                                    <li class="twitter">
                                        <a class="text-uppercase" href="#"> <i class="fab fa-twitter mr-3"></i>twitter</a>
                                        <a class="follow ml-auto" href="#">Followers </a>
                                    </li>
                                    <li class="youtube">
                                        <a class="text-uppercase" href="#"> <i class="fab fa-youtube mr-3"></i>youtube</a>
                                        <a class="follow ml-auto" href="#">Subscribers </a>
                                    </li>
                                    <li class="instagram">
                                        <a class="text-uppercase" href="#"> <i class="fab fa-instagram mr-3"></i>instagram</a>
                                        <a class="follow ml-auto" href="#">Followers </a>
                                    </li>
                                    <li class="linkedin">
                                        <a class="text-uppercase" href="#"> <i class="fab fa-linkedin-in mr-3"></i>linkedin</a>
                                        <a class="follow ml-auto" href="#">Followers </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="section-title mb-0">
                                <h5>Testimonials</h5>
                            </div>
                            <div class="owl-carousel owl-nav-top-right" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="5">
                                <div class="item">
                                    <div class="testimonial-item-02-small text-center">
                                        <i class="fas fa-quote-left quotes"></i>
                                        <div class="testimonial-content">
                                            <p>Jobber is an excellent job portal. We value the resumes received through this channel. Magic Search and Power search are handy tools. We are delighted with their service. </p>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-avatar avatar avatar-lg">
                                                <img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
                                            </div>
                                            <div class="testimonial-name d-flex justify-content-center">
                                                <h6 class="text-primary mr-2">John Doe</h6>
                                                <span>Customer Service</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-item-02-small text-center">
                                        <i class="fas fa-quote-left quotes"></i>
                                        <div class="testimonial-content">
                                            <p>The Jobber database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead. </p>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-avatar avatar avatar-lg">
                                                <img class="img-fluid rounded-circle" src="images/avatar/04.jpg" alt="">
                                            </div>
                                            <div class="testimonial-name d-flex justify-content-center">
                                                <h6 class="text-primary mr-2">Sara Lisbon</h6>
                                                <span>Product Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-item-02-small text-center">
                                        <i class="fas fa-quote-left quotes"></i>
                                        <div class="testimonial-content">
                                            <p>Portal is very user-friendly in terms of searching for resumes and job postings. Also, they have an excellent database to search for resumes. As far as services are involved, it's terrific! </p>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-avatar avatar avatar-lg">
                                                <img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
                                            </div>
                                            <div class="testimonial-name d-flex justify-content-center">
                                                <h6 class="text-primary mr-2">Anne Smith</h6>
                                                <span>Graphic Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Popular Tags</h5>
                            </div>
                            <div class="popular-tag">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#">Bootstrap</a></li>
                                    <li><a href="#">HTML5</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">CSS3</a></li>
                                    <li><a href="#">Creative</a></li>
                                    <li><a href="#">Multipurpose</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Color</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    blog-detail -->






{% endblock %}





















