{% extends 'base.html.twig' %}

{% block content %}
    <div class="add-listing">
        <div class="login d-inline-block mr-4">
            <a href="login.html" data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-user pr-2"></i>Sign in</a>
        </div>
        <a class="btn btn-white btn-md" href="post-a-job.html"> <i class="fas fa-plus-circle"></i>Post a job</a>
    </div>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 10em auto; max-width: 500px; width: 95%; font: 18px/1.5 sans-serif; }

</style>

<div class="example-wrapper">
    <h1>Hello Ekteb eli t7eb! ✅</h1>


</div>
{% endblock %}
